/*  */
/* Deletion of all the default parameters */
/*  */


*, :after,:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*  */
/* Style of the footer */
/*  */


footer {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

footer hr {
    width: 85%;
    background-color: #28b7c5;
    height: 2px;
    margin: auto;
}

footer div.bottom {
    display: flex;
}

footer div.links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 60%;
    padding: 0 5%;
}

footer div.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

footer h4 {
    font-size: 1.4em;
    color: #28b7c5;
    font-weight: bold;
    margin-bottom: 25px;
}

footer div.link a {
    text-decoration: none;
    color: black;
    font-weight: 1.4em;
    cursor: pointer;
}

footer div.signature {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30%;
    margin-top: 2%;
}

footer div.copyright {
    margin: 0 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.school {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

footer div.school img {
    width: 150px;
    cursor: pointer;
}

footer div.school button {
    background: none;
    border: 2px solid #28B7C5;
    padding: 20px 40px;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

h4 {
    text-align: center;
    font-size: 1.2em;
}
}

@media screen and (max-width: 1000px) {

footer {
    align-items: center;
}

footer div.bottom {
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

footer div.links {
    flex-direction: column;
    align-items: center;
}

footer div.link {
    margin-top: 10px;
}

footer div.link h4 {
    margin: 5px;
}

footer div.signature {
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

footer div.copyright {
    margin: 10px;
    padding: 10px;
}

footer div.school button {
    margin-bottom: 20px;
}

}